$error: #f44336;
$black: #0000002f;
$success: #25c374;
$text-primary: #444454;
$background-primary: #f3f4f8;
$background-secondary: #ffffff;

$button-primary: #25c374;
$button-primary-hover: #4fcd8f;
$button-primary-pressed: #a1e0c3;

$button-danger: #ff6131;
$button-danger-hover: #d0522d;
$button-danger-pressed: #a2432a;

$field: #c6c6d9;
$field-focus: #77748d;
