@import "../../styles/colors.scss";

.container {
  width: calc(100% - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-height: 72px;
  position: sticky;
  top: 0;
  gap: 16px;
  z-index: 20;
  background: $background-secondary;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);

  .title {
    flex: 1;
  }
  .actions {
    display: flex;
    gap: 16px;
  }
}
